@import "../../../assets/scss/varibles";


#page-topbar{
    padding:12px 24px  ;

    h2{
        font-size: 16px;
        font-weight: 700;
        span{
            color: $text-gray;
            font-weight: 400;
        }
    }

    button{
        width: 42px;
        height: 42px;
    }
}